{% extends 'layout.twig' %}

{% block body %}
    <br/>
    <div id="current_customer">
       {% if client != null %}
        <table class="table table-striped">
            <thead class="thead-inverse">
            <tr>
                <th colspan="2">Customer Information</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="padding-left: 30px"><label for="label">Reference :</label></td>
                <td>{{ client.reference }}</td>
            </tr>
            <tr>
                {% if(client.name) != '' %}
                    <td style="padding-left: 30px"><label for="label">Name :</label></td>
                    <td>{{ client.name }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if(client.numberAdult) != '' %}
                    <td style="padding-left: 30px"><label for="label">Adult number : </label></td>
                    <td>{{ client.number_adult }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if(client.numberChild) != '' %}
                    <td style="padding-left: 30px"><label for="label">Child number :</label></td>
                    <td>{{ client.number_child }}</td>
                {% endif %}
            </tr>
            <tr>
                {% if(client.start_date) != '' %}
                    <td style="padding-left: 30px" ><label for="label">Date : </label></td>
                    <td>{{ client.start_date }}</td>
                {% endif %}
            </tr>
            </tbody>

        </table>
       {% else %}
           <div class="no_customer">
               <div class="row">
                   <div class="span12 text-center">
                       <h3 style="color: #2B838E">
                           Welcome {{ user.name }} !<br/>
                       </h3>
                       <h4>For creating Quotations, you need to add new Customer.</h4>
                   </div>
               </div>
           </div>
       {% endif %}
        <div class="form-group row">
            <div class="col-xs-12">
                <div class="all_btn" id="add_customer">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>Add new customer</span>
                </div>
            </div>
        </div>

    </div>

{% endblock body %}

