
{% extends 'layout.twig' %}
{% block body %}
{#<<<<<<< HEAD#}
    {#<form class="form-horizontal" role="form">#}
        {#<div class="row">#}
            {#<div class="form-group">#}
                {#<label class="col-md-2" for="name"><img id="hotel" src="/img/hotel.png"/></label>#}
                {#<div class="col-md-7">#}
                    {#<select title="Nothing selected" name="idhouse" id="select-hotel" class="selectpicker" data-live-search="true">#}
{#=======#}
    <br/>
    <form class="form-horizontal" role="form">
        <div class="row" style="height:40px; line-height: 40px">
            <div class="col-xs-8">
                <div class="col-xs-3">Choose hotel :</div>
                <div class="col-xs-8">
                    <select class="selectpicker" id="select-hotel" data-live-search="true" title="Select hotel">
{#>>>>>>> 45c40e96755f46038552ce24383c851476146aef#}
                        {% for house in listhouse %}
                            <option value={{ house['item_id'] }}> {{ house['house_title'] }} </option>
                        {% endfor %}
                    </select>
{#<<<<<<< HEAD#}
                    {#<img class="loader" src="/img/preview.gif" style="display:none">#}
                {#</div>#}
                {#<div class="col-md-3">#}
                    {#<span id="dollar" class="glyphicon glyphicon-usd">{{ exchange['dollar'] }}</span>#}
                    {#<span id="euro" class="glyphicon glyphicon-euro">{{ exchange['euro'] }}</span>#}
                {#</div>#}
            {#</div>#}
        {#</div>    #}
        {#<div class="row">#}
            {#<h3>ADULT</h3>#}
        {#</div>#}
        {#<div class="row">#}
            {#<div id="left-child" class="col-md-6">#}
                {#<div class="form-group">#}
                    {#<label class="col-md-2" for="name"><img id="room" src="/img/room.png"></label>#}
                    {#<div class="col-md-10">#}
                        {#<div id="singlebed" class="row">#}
                            {#<div class="col-md-6">#}
                                {#<div class="checkbox">#}
                                    {#<label>#}
                                        {#<input id="single" type="checkbox"> Single#}
                                    {#</label>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="col-md-6">#}
                                {#<select title="Nothing" id="sgl" class="selectpicker form-control show-tick" data-live-search="true"></select>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div id="doublebed" class="row">#}
                            {#<div class="col-md-6">#}
                                {#<div class="checkbox">#}
                                    {#<label>#}
                                        {#<input id="double" type="checkbox"> Double#}
                                    {#</label>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="col-md-6">#}
                                {#<select title="Nothing" id="dbl" class="selectpicker form-control show-tick" data-live-search="true" multiple>#}

                                {#</select>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div id="triplebed" class="row">#}
                            {#<div class="col-md-6">#}
                                {#<div class="checkbox">#}
                                    {#<label>#}
                                        {#<input id="triple" type="checkbox"> Triple#}
                                    {#</label>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="col-md-6">#}
                                {#<select title="Nothing" id="tpl" class="selectpicker form-control show-tick" data-live-search="true" multiple>#}

                                {#</select>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div id="familybed" class="row">#}
                            {#<div class="col-md-6">#}
                                {#<div class="checkbox">#}
                                    {#<label>#}
                                        {#<input id="family" type="checkbox"> Family#}
                                    {#</label>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="col-md-6">#}
                                {#<select title="Nothing" id="fml" class="selectpicker form-control show-tick" data-live-search="true" multiple>#}

                                {#</select>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div id="extrabed" class="row">#}
                            {#<div class="col-md-6">#}
                                {#<div class="checkbox">#}
                                    {#<label>#}
                                        {#<input id="extra-adult" type="checkbox"> Extra-bed#}
                                    {#</label>#}
                                {#</div>#}
{#=======#}
                </div>
                <div class="col-xs-1">
                    <img class="loader" src="/img/preview.gif" style="display:none">
                </div>
            </div>
            <div class="col-xs-3 pull-right">
                <span id="dollar">$ {{ exchange['dollar']}}</span>
                <span id="euro">€ {{ exchange['euro'] }}</span>
            </div>
        </div>

        <br/>

        <div id="accordion">
            <div class="room">
                <span>Adult</span>
            </div>
            <div class="row" style="margin-top: -10px">
                <div id="left-child" class="col-xs-6">
                    <div id="singlebed" class="row">
                        <div class="funkyradio form_funky col-xs-3">
                            <div class="funkyradio-success form_success">
                                <input type="checkbox" id="single" class="check_value" value="Single"/>
                                <label class="funky_label form_label" for="single" style="border: none">Single</label>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <select title="Nothing" id="sgl" class="selectpicker show-tick" data-live-search="true" multiple></select>
                        </div>
                    </div>
                    <div id="doublebed" class="row">
                        <div class="funkyradio form_funky col-xs-3">
                            <div class="funkyradio-success form_success">
                                <input type="checkbox" id="double" class="check_value" value="Double"/>
                                <label class="funky_label form_label" for="double" style="border: none">Double</label>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <select title="Nothing" id="dbl" class="selectpicker show-tick" data-live-search="true" multiple></select>
                        </div>
                    </div>
                    <div id="triplebed" class="row">
                        <div class="funkyradio form_funky col-xs-3">
                            <div class="funkyradio-success form_success">
                                <input type="checkbox" id="triple" class="check_value" value="Triple"/>
                                <label class="funky_label form_label" for="triple" style="border: none">Triple</label>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <select title="Nothing" id="tpl" class="selectpicker show-tick" data-live-search="true" multiple></select>
                        </div>
                    </div>
                    <div id="familybed" class="row">
                        <div class="funkyradio form_funky col-xs-3">
                            <div class="funkyradio-success form_success">
                                <input type="checkbox" id="family" class="check_value" value="Family"/>
                                <label class="funky_label form_label" for="family" style="border: none">Family</label>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <select title="Nothing" id="fml" class="selectpicker show-tick" data-live-search="true" multiple></select>
                        </div>
                    </div>
                    <div id="extrabed" class="row">
                        <div class="funkyradio form_funky col-xs-3">
                            <div class="funkyradio-success form_success">
                                <input type="checkbox" id="extra-adult" class="check_value" value="Extra-bed"/>
                                <label class="funky_label form_label" for="extra-adult" style="border: none">Extra-bed</label>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <select title="Nothing" id="ext" class="selectpicker show-tick" data-live-search="true" multiple></select>
                        </div>
                    </div>
                </div>

                <div id="right" class="col-xs-6">
                    <div class="row">
                        <div class="funkyradio form_funky col-xs-3">
                            <div class="funkyradio-success form_success">
                                <input type="checkbox" id="adult-breakfast" class="check_value" value="Breakfast"/>
                                <label class="funky_label form_label" for="adult-breakfast" style="border: none">Breakfast</label>
{#>>>>>>> 45c40e96755f46038552ce24383c851476146aef#}
                            </div>
                            <div class="col-md-6">
                                <select title="Nothing" id="ext" class="selectpicker form-control show-tick" data-live-search="true">

                                </select>
                            </div>
                        </div>
{#<<<<<<< HEAD#}

                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div id="right" class="col-md-6">#}
                {#<div class="form-group">#}
                    {#<label class="col-md-2" for="name"><img id="board" src="/img/board.png"></label>#}
                    {#<div id="resto" class="col-md-10">#}
                        {#<div class="row">#}
                            {#<div class="col-md-6">#}
                                {#<div class="checkbox">#}
                                    {#<label>#}
                                        {#<input id="adult-breakfast" type="checkbox"> Breakfast#}
                                    {#</label>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="col-md-6">#}
                                {#<select title="Nothing" id="bft"  class="selectpicker form-control show-tick" data-live-search="true">#}


                                {#</select>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="row">#}
                            {#<div class="col-md-6">#}
                                {#<div class="checkbox">#}
                                    {#<label>#}
                                        {#<input id="adult-lunch" type="checkbox"> Lunch#}
                                    {#</label>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="col-md-6">#}
                                {#<select title="Nothing" id="lch" class="selectpicker form-control show-tick" data-live-search="true">#}

                                {#</select>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="row">#}
                            {#<div class="col-md-6">#}
                                {#<div class="checkbox">#}
                                    {#<label>#}
                                        {#<input id="adult-dinner" type="checkbox"> Dinner#}
                                    {#</label>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="col-md-6" >#}
                                {#<select title="Nothing" id="dnr" class="selectpicker form-control show-tick" data-live-search="true">#}

                                {#</select>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div id="menu2" class="row">#}
                            {#<div class='col-md-6'> <div class='checkbox'> <label> <input id='amenu' type='checkbox'> Menu </label> </div> </div>#}
                            {#<div class="col-md-6"  id="menu-adult" style="display: none">#}
                            {#</div>#}
                        {#</div>#}
                        {#<div id="hb" class="row">#}
                            {#<div class='col-md-6'> <div class='checkbox'> <label> <input id='ahb' type='checkbox'> HB </label> </div> </div>#}
                            {#<div class="col-md-6"  id="hb-adult" style="display: none">#}
                            {#</div>#}
                        {#</div>#}
                        {#<div id="fb" class="row">#}
                            {#<div class='col-md-6'> <div class='checkbox'> <label> <input id='afb' type='checkbox'> FB </label> </div> </div>#}
                            {#<div class="col-md-6"  id="fb-adult" style="display: none">#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div name="child" class="row">#}
            {#<h3 class="col-md-8">CHILD</h3>#}
        {#</div>#}
        {#<div name="child" class="row">#}
            {#<div id="left-child" class="col-md-6">#}
                {#<div class="form-group">#}
                    {#<label class="col-md-2" for="name"><img id="room" src="/img/room.png"></label>#}
                    {#<div class="col-md-10">#}
                        {#<div class="row">#}
                            {#<div class="col-md-6">#}
                                {#<div class="checkbox">#}
                                    {#<label>#}
                                        {#<input id="extra-child" type="checkbox"> Extra-bed#}
                                    {#</label>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="col-md-6">#}
                                {#<select  title="Nothing" id="exch" class="selectpicker form-control show-tick" data-live-search="true" multiple>#}

                                {#</select>#}
                                {#<img class="loader" src="/img/preview.gif" style="display:none">#}
                            {#</div>#}
                        {#</div>#}

                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div id="right" class="col-md-6">#}
                {#<div class="form-group">#}
                    {#<label class="col-md-2" for="name"><img id="board" src="/img/board.png"></label>#}
                    {#<div class="col-md-10">#}
                        {#<div class="row">#}
                            {#<div class="col-md-6">#}
                                {#<div class="checkbox">#}
                                    {#<label>#}
                                        {#<input id="child-breakfast" type="checkbox"> Breakfast#}
                                    {#</label>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="col-md-6">#}
                                {#<select title="Nothing" id="chb" class="selectpicker form-control show-tick" data-live-search="true">#}

                                {#</select>#}
                                {#<img class="loader" src="/img/preview.gif" style="display:none">#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="row">#}
                            {#<div class="col-md-6">#}
                                {#<div class="checkbox">#}
                                    {#<label>#}
                                        {#<input id="child-lunch" type="checkbox"> Lunch#}
                                    {#</label>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="col-md-6">#}
                                {#<select title="Nothing" id="chl" class="selectpicker form-control show-tick" data-live-search="true">#}

                                {#</select>#}
                                {#<img class="loader" src="/img/preview.gif" style="display:none">#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="row">#}
                            {#<div class="col-md-6">#}
                                {#<div class="checkbox">#}
                                    {#<label>#}
                                        {#<input id="child-dinner" type="checkbox"> Dinner#}
                                    {#</label>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="col-md-6" >#}
                                {#<select title="Nothing" id="chd" class="selectpicker form-control show-tick" data-live-search="true">#}

                                {#</select>#}
                                {#<img class="loader" src="/img/preview.gif" style="display:none">#}
                            {#</div>#}
                        {#</div>#}
                        {#<div id="chmenu" class="row">#}
                            {#<div class='col-md-6'> <div class='checkbox'> <label> <input id='menuc' type='checkbox'> Menu </label> </div> </div>#}
                            {#<div class="col-md-6"  id="menu-child" style="display: none">#}
                            {#</div>#}
                        {#</div>#}
                        {#<div id="chhb" class="row">#}
                            {#<div class='col-md-6'> <div class='checkbox'> <label> <input id='hbc' type='checkbox'> HB </label> </div> </div>#}
                            {#<div class="col-md-6"  id="hb-child" style="display: none">#}
                            {#</div>#}
                        {#</div>#}
                        {#<div id="chfb" class="row">#}
                            {#<div class='col-md-6'> <div class='checkbox'> <label> <input id='fbc' type='checkbox'> FB </label> </div> </div>#}
                            {#<div class="col-md-6"  id="fb-child" style="display: none">#}
{#=======#}
                        <div class="col-xs-8">
                            <select title="Nothing" id="bft"  class="selectpicker show-tick" data-live-search="true"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="funkyradio form_funky col-xs-3">
                            <div class="funkyradio-success form_success">
                                <input type="checkbox" id="adult-lunch" class="check_value" value="Lunch"/>
                                <label class="funky_label form_label" for="adult-lunch" style="border: none">Lunch</label>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <select title="Nothing" id="lch"  class="selectpicker show-tick" data-live-search="true"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="funkyradio form_funky col-xs-3">
                            <div class="funkyradio-success form_success">
                                <input type="checkbox" id="adult-dinner" class="check_value" value="Dinner"/>
                                <label class="funky_label form_label" for="adult-dinner" style="border: none">Dinner</label>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <select title="Nothing" id="dnr"  class="selectpicker show-tick" data-live-search="true"></select>
                        </div>
                    </div>
                    <div id="menu2" class="row board">
                        <div class="funkyradio form_funky col-xs-3">
                            <div class="funkyradio-success form_success">
                                <input type="checkbox" id="amenu" class="check_value" value="Menu"/>
                                <label class="funky_label form_label" for="amenu" style="border: none">Menu</label>
                            </div>
                        </div>
                        <div class="col-xs-8" id="menu-adult" style="display: none"></div>
                    </div>
                    <div id="hb" class="row board">
                        <div class="funkyradio form_funky col-xs-3">
                            <div class="funkyradio-success form_success">
                                <input type="checkbox" id="ahb" class="check_value" value="HB"/>
                                <label class="funky_label form_label" for="ahb" style="border: none">HB</label>
                            </div>
                        </div>
                        <div class="col-xs-8"  id="hb-adult" style="display: none"></div>
                    </div>
                    <div id="fb" class="row board">
                        <div class="funkyradio form_funky col-xs-3">
                            <div class="funkyradio-success form_success">
                                <input type="checkbox" id="afb" class="check_value" value="FB"/>
                                <label class="funky_label form_label" for="afb" style="border: none">FB</label>
                            </div>
                        </div>
                        <div class="col-xs-8"  id="fb-adult" style="display: none"></div>
                    </div>
                </div>
            </div>

            <div class="room">
                <span>Child</span>
            </div>

            <div class="row">
                <div id="right" class="col-xs-6">
                    <div class="row">
                        <div class="funkyradio form_funky col-xs-3">
                            <div class="funkyradio-success form_success">
                                <input type="checkbox" id="extra-child" class="check_value" value="Extra-bed"/>
                                <label class="funky_label form_label" for="extra-child" style="border: none">Extra-bed</label>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <select title="Nothing" id="exch"  class="selectpicker show-tick" data-live-search="true"></select>
                        </div>
                    </div>
                </div>
                <div id="right" class="col-xs-6">
                    <div class="row">
                        <div class="funkyradio form_funky col-xs-3">
                            <div class="funkyradio-success form_success">
                                <input type="checkbox" id="child-breakfast" class="check_value" value="Breakfast"/>
                                <label class="funky_label form_label" for="child-breakfast" style="border: none">Breakfast</label>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <select title="Nothing" id="chb"  class="selectpicker show-tick" data-live-search="true"></select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="funkyradio form_funky col-xs-3">
                            <div class="funkyradio-success form_success">
                                <input type="checkbox" id="child-lunch" class="check_value" value="Lunch"/>
                                <label class="funky_label form_label" for="child-lunch" style="border: none">Lunch</label>
{#>>>>>>> 45c40e96755f46038552ce24383c851476146aef#}
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <select title="Nothing" id="chl"  class="selectpicker show-tick" data-live-search="true"></select>
                        </div>
                    </div>
{#<<<<<<< HEAD#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="form-group row">#}
            {#<div class="col-xs-10">#}
                {#<span class="client_message"></span>#}
            {#</div>#}
            {#<div class="col-xs-2">#}
                {#<div class="all_btn" id="save">#}
                    {#<span>Save</span>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
{#=======#}
                    <div class="row">
                        <div class="funkyradio form_funky col-xs-3">
                            <div class="funkyradio-success form_success">
                                <input type="checkbox" id="child-dinner" class="check_value" value="Dinner"/>
                                <label class="funky_label form_label" for="child-dinner" style="border: none">Dinner</label>
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <select title="Nothing" id="chd"  class="selectpicker show-tick" data-live-search="true"></select>
                        </div>
                    </div>
                    <div id="chmenu" class="row board">
                        <div class="funkyradio form_funky col-xs-3">
                            <div class="funkyradio-success form_success">
                                <input type="checkbox" id="menuc" class="check_value" value="Menu"/>
                                <label class="funky_label form_label" for="menuc" style="border: none">Menu</label>
                            </div>
                        </div>
                        <div class="col-xs-8" id="menu-child" style="display: none"></div>
                    </div>
                    <div id="chhb" class="row board">
                        <div class="funkyradio form_funky col-xs-3">
                            <div class="funkyradio-success form_success">
                                <input type="checkbox" id="hbc" class="check_value" value="HB"/>
                                <label class="funky_label form_label" for="hbc" style="border: none">HB</label>
                            </div>
                        </div>
                        <div class="col-xs-8"  id="hb-child" style="display: none"></div>
                    </div>
                    <div id="chfb" class="row board">
                        <div class="funkyradio form_funky col-xs-3">
                            <div class="funkyradio-success form_success">
                                <input type="checkbox" id="fbc" class="check_value" value="FB"/>
                                <label class="funky_label form_label" for="fbc" style="border: none">FB</label>
                            </div>
                        </div>
                        <div class="col-xs-8"  id="fb-child" style="display: none"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-10">
                <img id="loader_gif" src="/img/preview.gif" style="display:none">
                <span class="room_message"></span>
            </div>
            <div class="col-xs-2">
                <div class="all_btn" id="save">
                    <span>Save</span>
                </div>
            </div>
        </div>
{#>>>>>>> 45c40e96755f46038552ce24383c851476146aef#}
    </form>
{% endblock body %}