
{% extends 'layout.twig' %}
{% block body %}
    <div class="cont">
        <div class="col-md-10 col-md-offset-1">
            <form class="form-horizontal" role="form">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-2" for="name"><img id="hotel" src="/img/hotel.png"/></label>
                            <div class="col-md-7">
                                <select title="Nothing selected" name="idhouse" id="select-hotel" class="selectpicker" data-live-search="true">
                                    {% for house in listhouse %}
                                        <option value={{ house['item_id'] }}> {{ house['house_title'] }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3">
                                <span id="dollar" class="lign"><img  class="currency" src="/img/dollar-icon.png">{{ dollar}}</span>
                                <span id="euro" class="lign"><img class="currency" src="/img/euro-icon.png">{{ euro }}</span>
                                <span id="customer" class="lign">{{ refclient['MAX(id)'] }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h3 class="col-md-8">ADULT</h3>
                </div>
                <div class="row">
                    <div id="right" class="col-md-6 col-md-push-6">
                        <div class="form-group">
                            <label class="col-md-2" for="name"><img id="board" src="/img/board.png"></label>
                            <div id="resto" class="col-md-10">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="checkbox">
                                            <label>
                                                <input id="adult-breakfast" type="checkbox"> Breakfast
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <select title="Nothing" id="bft"  class="selectpicker form-control show-tick" data-live-search="true">

                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="checkbox">
                                            <label>
                                                <input id="adult-lunch" type="checkbox"> Lunch
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <select title="Nothing" id="lch" class="selectpicker form-control show-tick" data-live-search="true">

                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="checkbox">
                                            <label>
                                                <input id="adult-dinner" type="checkbox"> Dinner
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-5" >
                                        <select title="Nothing" id="dnr" class="selectpicker form-control show-tick" data-live-search="true">

                                        </select>
                                    </div>
                                </div>
                                <div id="menu2" class="row">
                                    <div class='col-md-5'> <div class='checkbox'> <label> <input id='amenu' type='checkbox'> Menu </label> </div> </div>
                                    <div class="col-md-5"  id="menu-adult" style="display: none">
                                    </div>
                                </div>
                                <div id="hb" class="row">
                                    <div class='col-md-5'> <div class='checkbox'> <label> <input id='ahb' type='checkbox'> HB </label> </div> </div>
                                    <div class="col-md-5"  id="hb-adult" style="display: none">
                                    </div>
                                </div>
                                <div id="fb" class="row">
                                    <div class='col-md-5'> <div class='checkbox'> <label> <input id='afb' type='checkbox'> FB </label> </div> </div>
                                    <div class="col-md-5"  id="fb-adult" style="display: none">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="left-child" class="col-md-6 col-md-pull-6">
                        <div class="form-group">
                            <label class="col-md-2" for="name"><img id="room" src="/img/room.png"></label>
                            <div class="col-md-10">
                                <div id="singlebed" class="row">
                                    <div class="col-md-5">
                                        <div class="checkbox">
                                            <label>
                                                <input id="single" type="checkbox"> Single
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <select title="Nothing" id="sgl" class="selectpicker form-control show-tick" data-live-search="true">

                                        </select>

                                    </div>
                                </div>
                                <div id="doublebed" class="row">
                                    <div class="col-md-5">
                                        <div class="checkbox">
                                            <label>
                                                <input id="double" type="checkbox"> Double
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <select title="Nothing" id="dbl" class="selectpicker form-control show-tick" data-live-search="true" multiple>

                                        </select>

                                    </div>
                                </div>
                                <div id="triplebed" class="row">
                                    <div class="col-md-5">
                                        <div class="checkbox">
                                            <label>
                                                <input id="triple" type="checkbox"> Triple
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <select title="Nothing" id="tpl" class="selectpicker form-control show-tick" data-live-search="true" multiple>

                                        </select>
                                    </div>
                                </div>
                                <div id="familybed" class="row">
                                    <div class="col-md-5">
                                        <div class="checkbox">
                                            <label>
                                                <input id="family" type="checkbox"> Family
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <select title="Nothing" id="fml" class="selectpicker form-control show-tick" data-live-search="true" multiple>

                                        </select>

                                    </div>
                                </div>
                                <div id="extrabed" class="row">
                                    <div class="col-md-5">
                                        <div class="checkbox">
                                            <label>
                                                <input id="extra-adult" type="checkbox"> Extra-bed
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <select title="Nothing" id="ext" class="selectpicker form-control show-tick" data-live-search="true">

                                        </select>

                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div name="child" class="row">
                    <h3 class="col-md-8">CHILD</h3>
                </div>
                <div name="child" class="row">
                    <div id="right" class="col-md-6 col-md-push-6">
                        <div class="form-group">
                            <label class="col-md-2" for="name"><img id="board" src="/img/board.png"></label>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="checkbox">
                                            <label>
                                                <input id="child-breakfast" type="checkbox"> Breakfast
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <select title="Nothing" id="chb" class="selectpicker form-control show-tick" data-live-search="true">

                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="checkbox">
                                            <label>
                                                <input id="child-lunch" type="checkbox"> Lunch
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <select title="Nothing" id="chl" class="selectpicker form-control show-tick" data-live-search="true">

                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="checkbox">
                                            <label>
                                                <input id="child-dinner" type="checkbox"> Dinner
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-5" >
                                        <select title="Nothing" id="chd" class="selectpicker form-control show-tick" data-live-search="true">

                                        </select>
                                    </div>
                                </div>
                                <div id="chmenu" class="row">
                                    <div class='col-md-5'> <div class='checkbox'> <label> <input id='menuc' type='checkbox'> Menu </label> </div> </div>
                                    <div class="col-md-5"  id="menu-child" style="display: none">
                                    </div>
                                </div>
                                <div id="chhb" class="row">
                                    <div class='col-md-5'> <div class='checkbox'> <label> <input id='hbc' type='checkbox'> HB </label> </div> </div>
                                    <div class="col-md-5"  id="hb-child" style="display: none">
                                    </div>
                                </div>
                                <div id="chfb" class="row">
                                    <div class='col-md-5'> <div class='checkbox'> <label> <input id='fbc' type='checkbox'> FB </label> </div> </div>
                                    <div class="col-md-5"  id="fb-child" style="display: none">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="left-child" class="col-md-6 col-md-pull-6">
                        <div class="form-group">
                            <label class="col-md-2" for="name"><img id="room" src="/img/room.png"></label>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="checkbox">
                                            <label>
                                                <input id="extra-child" type="checkbox"> Extra-bed
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <select  title="Nothing" id="exch" class="selectpicker form-control show-tick" data-live-search="true" multiple>

                                        </select>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="pull-right">
                        <img class="btn" id="save" src="/img/save.png">
                    </div>
                </div>

            </form>
        </div>
    </div>

    {% block scripts %}
        <script src="/js/form.js"></script>
    {% endblock scripts %}
{% endblock body %}