{% extends 'layout.twig' %}

{% block body %}
    <br/>
    <div id="current_customer">
        {% if client != null %}
        <div class="calculation_quota">
            <div class="table-editable">
                <table class="table table-striped" id="table_about_customer">
                    <thead class="thead-inverse">
                        <tr>
                            <th colspan="2">Customer Information</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><label for="label">Reference</label></td>
                            <td>{{ client.reference }}</td>
                        </tr>
                        <tr>
                            {% if(client.name) != '' %}
                                <td><label for="label">Name</label></td>
                                <td>{{ client.name }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if(client.numberAdult) != '' %}
                                <td><label for="label">Number of adult</label></td>
                                <td>{{ client.number_adult }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if(client.numberChild) != '' %}
                                <td><label for="label">Number of children</label></td>
                                <td>{{ client.number_child }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if(client.start_date) != '' %}
                                <td ><label for="label">Date</label></td>
                                <td>{{ client.start_date }}</td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
            <hr>
        <div class="calculation_quota">
            <div class="table-editable">
                <table class="table table-striped" id="table_about_room">
                    <thead class="thead-inverse">
                        <tr>
                            <th colspan="4">Rooms (<span class="item_number">{{ room|length }}</span>)</th>
                        </tr>
                    </thead>

                    {% if room|length > 0 %}
                    <tbody>
                    {% for i in 0..room|length-1 %}
                        <tr>
                            <td class="data_client_remove" id="room_{{ room[i]['id'] }}" onclick="deleteItem(this)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </td>
                            <td>{{ room[i]['house_title'] }}</td>
                            <td>{{ room[i]['others'].room_title }}</td>
                            <td>{{ room[i]['base']|capitalize }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
            </div>
        </div>
            <hr>
        <div class="calculation_quota">
            <div class="table-editable">
                <table class="table table-striped" id="table_about_prestation">
                    <thead class="thead-inverse">
                    {% set id_prestation = prestation.all_prestation['id'] %}
                    {% set services = prestation.all_prestation['service'] %}
                    {% set others = prestation.all_prestation['other'] %}
                        <tr>
                            <th colspan="3">Benefits (<span class="item_number">{{ services|length }}</span>)</th>
                        </tr>
                    </thead>

                    {% if services|length > 0 %}
                    <tbody>
                    {% for i in 0..services|length-1 %}
                        <tr>
                            <td class="data_client_remove" id="prestation_{{ id_prestation[i] }}" onclick="deleteItem(this)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </td>
                            <td>{{ services[i] }}</td>
                            <td>{{ others[i].type_service }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
            </div>
        </div>
        {% else %}
        <div id="user_home">
            <div class="row" style="margin: 0!important; padding: 0!important;">
                <div class="span12 text-center">
                    <h3 style="color: #2B838E">
                        Welcome {{ user.name }} !<br/>
                    </h3>
                    <h4>To create quotations, you need to add a new customer.</h4>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <div id="delete_item" style="max-height: 150px;display: none; padding-bottom: 0;">
        <div style="height: 100px;">Are you sure to delete "<span class="item_title"></span>" ?</div>
        <div style="height: 30px; margin-bottom: -10px;">
            <div class="popup_btn" id="btn_delete_item">delete</div>
            <div class="popup_btn"  id="btn_cancel_item">cancel</div>
        </div>
    </div>
{% endblock body %}