{% extends 'layout.twig' %}

{% block body %}

    <!-- Page Content -->
    <div class="container">


        <div class="row">

            <!--Content LEFT-->
            <div class="col-xs-8 content">
                <h1 class="page-header">
                    Hotel room quota
                </h1>
                {% for base in base_rooms %}
                    <p class="base_title" id="{{ base.type|replace({' ' : '_'}) }}">Based on {{ base.type }}</p>
                    <div class="calculation_quota">

                        <!--table for each quota-->
                        <table class="flat-table">
                            <tbody>
                            <tr>
                                <th class="td_designation">DESIGNATION</th>
                                <th class="td_amount">ARIARY</th>
                                <th class="td_amount">EURO</th>
                            </tr>
                            {% for content in base.content %}
                                <tr>
                                    <td>
                                        <span
                                            {% if(content[0]in ['Vignette','Various taxes']) %}
                                                class="glyphicon glyphicon-usd"
                                            {% elseif(content[0]) in ['Breakfast','Dinner','Lunch'] %}
                                                class="glyphicon glyphicon-cutlery"
                                            {% else %}
                                                class="glyphicon glyphicon-bed"
                                            {% endif %}
                                        >
                                        </span>
                                        <span class="designation_element">
                                            {{ content[0] }}
                                        </span>
                                    </td>
                                    <td class="td_amount">{{ content[1] }}</td>
                                    <td class="td_amount">{{ content[2] }}</td>
                                </tr>
                            {% endfor %}
                            <tr class="tr_total">
                                <td>
                                    <span class="glyphicon glyphicon-plus"></span>
                                    <span class="designation_total">
                                        {{ base.total[0] }}
                                    </span>
                                </td>
                                <td class="td_amount">{{ base.total[1] }}</td>
                                <td class="td_amount">{{ base.total[2] }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="detail" id="detail_{{ base.type|replace({' ' : '_'}) }}">
                        <div class="detail_head">Details<span class="glyphicon glyphicon-menu-down"></span></div>

                        <div class="detail_body">
                            <div class="detail_hr"></div>
                            <div class="detail_body_elements">


                            </div>
                        </div>
                    </div>

                    <hr>
                {% endfor %}

                <hr>

                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>
            </div>

            <!--Content RIGHT-->
            <div class="col-xs-3 sidebar-outer" >
                <div class="fixed col-xs-3">
                    <div class="well">
                        <h4>Quota Search</h4>
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <span class="glyphicon glyphicon-search"></span>
                            </button>
                            </span>
                        </div>
                        <!-- /.input-group -->
                    </div>

                    <!-- Blog Categories Well -->
                    <div class="well">
                        <h4>Blog Categories</h4>
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled">
                                    <li><a href="#">Category Name</a>
                                    </li>
                                    <li><a href="#">Category Name</a>
                                    </li>
                                    <li><a href="#">Category Name</a>
                                    </li>
                                    <li><a href="#">Category Name</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.col-lg-6 -->
                            <div class="col-lg-6">
                                <ul class="list-unstyled">
                                    <li><a href="#">Category Name</a>
                                    </li>
                                    <li><a href="#">Category Name</a>
                                    </li>
                                    <li><a href="#">Category Name</a>
                                    </li>
                                    <li><a href="#">Category Name</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.col-lg-6 -->
                        </div>
                        <!-- /.row -->
                    </div>

                    <!-- Side Widget Well -->
                    <div class="well">
                        <h4>Existing base for this quota</h4>
                        {% for base in base_type %}
                            <p class="base_types">
                                <a class="base_type" href="#{{ (base|lower)|replace({' ' : '_'}) }}" >{{ base }}</a>
                            </p>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

{% endblock body %}
