<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WAU Travel Quota</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css" >

    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap-select.css">

    <link rel="stylesheet" href="/css/bootstrap-select.css.map">
    <link rel="stylesheet" href="/css/bootstrap-editable.css">

    <!--Stylesheet-->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/funky.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link href="/css/info.css" rel="stylesheet">
    <link href="/css/spinner.css" rel="stylesheet">
    <link href="/css/perfect-scrollbar.min.css" rel="stylesheet">

    <link rel="shortcut icon" href="/images/favicon.ico">
</head>

<body class="main">

<!-- Navigation -->
<nav class="navbar  navbar-fixed-top" role="navigation">
    <div class="container" style="padding: 0 !important;">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img class="center-block" id="logo" src="/images/logoWau.png"/>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        {% if user != null %}
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul  class="nav navbar-nav" id="menu">
                    <li><a href="/information">Home</a></li>
                    <li>
                        <a href="#">Create</a>
                        <ul>
                            <li><a href="/information">Customer</a></li>
                            <li><a href="/house">Room</a></li>
                            <li><a href="/prestation">prestation</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">View</a>
                        <ul>
                            <li><a href="/room">Room</a></li>
                            <li><a href="/quotaprestation">Prestation</a></li>
                            <li><a href="/total">Total</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="pull-right user">{{ user.name }}</div>
            </div>
        {% endif %}
        <!-- /.navbar-collapse -->
    </div>

    <!-- /.container -->
    <div class="row" style="background: #ffffff;margin: 0 !important;padding: 0 !important;">
        <div class="container ref_client" >
            <div class="col-xs-12">
                <span class="pull-left title">{{ title }}</span>
                {% if client != null and user != null %}
                    <span class="pull-right">Current customer : <span id="client_reference">{{ client.reference }}</span></span>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        {% if user == null %}
            <div class="col-xs-12">
                {% block login %}
                {% endblock login %}
            </div>
        {% else %}
            <!--/left side-->
            <div class="col-xs-9 scrollit">
                {% block body %}
                {% endblock body %}
            </div>

            <!--/right side-->
            <div id="right_side" class="col-xs-3 sidebar-outer">
                <div class="fixed">
                    <div id="well_search" class="row well">
                            <div id="search_menu_title">
                                <div style="float: left"><h4>All customer</h4></div>
                                <div id="refresh_client" style="float: right"><span class="glyphicon glyphicon-refresh"></span></div>
                            </div>

                        <div class="input-group" style="width:100%;">
                            <input type="text" class="form-control search_control" id="search_client" placeholder="Search...">
                        </div>
                        <!-- /.input-group -->
                        <div class="row" id="quota_list">
                            <div class="search_message">No result for this search !</div>
                        </div>

                        <div id="expand">
                            <span id="search_glyphicon" class="menu_glyphicon glyphicon glyphicon-chevron-up"></span>
                        </div>
                    </div>

                    {% block menu_room %}
                    {% endblock menu_room %}
                    <!--/.well -->
                </div>
                <!--/sidebar-nav-fixed -->
            </div>
            <!--/span-->
        {% endif %}
    </div>
    <!--/row-->
</div>
<!--/.fluid-container-->
<div id="about_client" title="About this customer" style="display: none;">
    <p>Reference : {{ client.reference }}</p>
    {% if(client.name) != '' %}<p>Name : {{ client.name }}</p>{% endif %}
    {% if(client.numberAdult) != '' %}<p>Adult number : {{ client.number_adult }}</p>{% endif %}
    {% if(client.numberChild) != '' %}<p>Child number : {{ client.number_child }}</p>{% endif %}
    {% if(client.start_date) != '' %}<p>Date : {{ client.start_date }}</p>{% endif %}

</div>

<div id="loading">
    {#<img src='/images/loading.gif' />#}
</div>

{% block edit_room %}
{% endblock edit_room %}

<footer class="footer">
    <div class="container" style="margin-top: auto">
        <p class="text-muted rw-center">{{ 'now' | date("Y") }} WAU Travel</p>
    </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Latest compiled and minified JavaScript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-editable.min.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/perfect-scrollbar.jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% block scripts %}
    <script src="/js/info.js"></script>
    <script src="/js/form.js"></script>
    <script src="/js/prestation.js"></script>
    <script src="/js/room_quota.js"></script>
    <script src="/js/total_quota.js"></script>
    <script src="/js/quotaprestation.js"></script>
    <script src="/js/perfect-scrollbar.jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/js/function.js"></script>
{% endblock scripts %}
</body>
</html>