{% extends 'layout.twig' %}

{% block body %}
<br/>
<div class="col-xs-9" id="main">
    {% set registration = 0 %}
    {% if(dataRoom|length > 0) %}
        <div class="row" id="registration_room"><b>Registration :</b></div>
        <div class="row" style="height: 30px;">
            {% for k in dataRoom|keys %}
                <div class="{% if registration == 0 %}active{% endif %} registration_menu" id="registration_{{ k }}">
                    {{ k }}
                </div>
                {% set registration = registration + 1%}
            {% endfor %}
        </div>
        <br/>

        {% set registration = 0 %}
        {% for k in dataRoom|keys %}
            {% set base_rooms = dataRoom[k]['room'] %}
            {% set details = dataRoom[k]['detail'] %}
            {% set registration = registration + 1%}

            <div class="group_table {% if registration > 1 %}table_hide{% endif %}" id="group_{{ k }}">
                {% for room in base_rooms %}
                <p class="base_title" id="{{ room.type|replace({' ' : '_'}) }}_{{ registration }}">Based on {{ room.type }}</p>
                <div class="calculation_quota">
                    <div class="table-editable">
                        <!--table for each quota-->
                        <table class="flat-table" id="table_{{ room.type|replace({' ' : '_'}) }}">
                            <tbody>
                                <tr>
                                    <th class="td_designation">DESIGNATION</th>
                                    <th class="td_amount">ARIARY</th>
                                    <th class="td_amount">EURO<div class="exchange_euro hide">{{ room.exchange['euro'] }}</div></th>
                                    <th class="td_amount">USD<div class="exchange_dollar hide">{{ room.exchange['dollar'] }}</div></th>
                                </tr>
                                {% for content in room.content %}
                                    {% if(content['label'] == 'Total / pax') %}
                                        {% set tr_class = "tr_total" %}
                                    {% elseif(content['label'] == 'Family room') %}
                                        {% set tr_class = "tr_room" %}
                                    {% elseif(content['label'] == 'Vignette') %}
                                        {% set tr_class = "tr_vignette" %}
                                    {% elseif(content['label'] == 'Various taxes') %}
                                        {% set tr_class = "tr_tax" %}
                                    {% endif %}
                                    <tr class="{{ tr_class }}">
                                        {% if('room' in content['label']) %}
                                            {% set glyphicon = "glyphicon glyphicon-bed" %}
                                        {% elseif(content['label'] in ['Vignette','Various taxes']) %}
                                            {% set glyphicon = "glyphicon glyphicon-usd" %}
                                        {% elseif(content['label'] == 'Total / pax') %}
                                            {% set glyphicon = "glyphicon glyphicon-plus" %}
                                        {% else %}
                                            {% set glyphicon = "glyphicon glyphicon-cutlery" %}
                                        {% endif %}
                                        <td>
                                            <span class="{{ glyphicon }}"></span>
                                            {% if(content['label'] == 'Total / pax') %}
                                                <span class="designation_total">{{ content['label'] }}</span>
                                                {% if(room.type == 'family room') %}
                                                    <span style="white-space:pre"> : 1 person out of </span>
                                                    <input type="number" min="1" max="20" name="family_member_{{ k }}" id="family_member_{{ k }}" class="family_member number" style="width: 50px;" value="1"/>
                                                {% endif %}
                                            {% else %}
                                                <span class="designation_element">{{ content['label'] }} </span>
                                            {% endif %}
                                        </td>
                                        <td class="td_amount">
                                            <span class="mga_value">{{ content['value']|roundValue }}</span>
                                            {% if(room.type == 'family room') %}
                                                <span class="hide">{{ content['value']|roundValue }}</span>
                                            {% endif %}
                                        </td>
                                        <td class="td_amount">
                                            {{ (content['value'] / room.exchange['euro'])|roundValue }}
                                        </td>
                                        <td class="td_amount">
                                            {{ (content['value'] / room.exchange['dollar'])|roundValue }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <!-- for details -->
                    <div class="detail" id="detail_{{ room.type|replace({' ' : '_'}) }}">
                        <div class="detail_head">Details<span class="glyphicon glyphicon-menu-down"></span></div>
                        <div class="detail_body">
                            <div class="accordion" id="accordion2">
                                <div class="accordion-group">
                                    {% for i in 0..details|length-1 %}
                                    {% if(room.type|split(' ')[0]|lower == details[i]['base']|split(' ')[0]|lower) %}
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#{{ details[i]['id'] }}">
                                                {{ details[i]['others'].room_title }}
                                            </a>
                                        </div>

                                        <div id="{{ details[i]['id'] }}" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                                <div class="row">
                                                    <div class="col-xs-4 denominated">EUR </div>
                                                    <div class="col-xs-8">{{ details[i]['others'].euro }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-4 denominated">USD </div>
                                                    <div class="col-xs-8">{{ details[i]['others'].dollar }}</div>
                                                </div>
                                                <div class="row">
                                                    {% set stay = details[i]['others'].stay|roundValue %}
                                                    <div class="col-xs-4 denominated">Number of stays</div>
                                                    <div class="col-xs-8">{{ stay }} {% if stay > 1 %}days{% else %}day{% endif %}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-4 denominated">Hotel </div>
                                                    <div class="col-xs-8">{{ details[i]['house_title'] }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-4 denominated">Room </div>
                                                    <div class="col-xs-8">{{ details[i]['others'].room_title }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-4 denominated">Wau rate </div>
                                                    <div class="col-xs-8">Ar {{ details[i]['price_room']|roundValue }} / day</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-4 denominated">Vignette </div>
                                                    <div class="col-xs-8">Ar {{ details[i]['others'].vignet|roundValue }}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-4 denominated">Taxes </div>
                                                    <div class="col-xs-8">Ar {{ details[i]['others'].tax|roundValue }}</div>
                                                </div>
                                                {% set boards = details[i]['others'].board %}
                                                {% if boards|length != 0 %}
                                                <div class="row">
                                                    <div class="col-xs-4 denominated">Board </div>
                                                    <div class="col-xs-8">
                                                        {% for key, value in boards|cast_to_array %}
                                                            {% if key|lower in ['hb','fb'] %}
                                                                {% set label = key|upper %}
                                                            {% else %}
                                                                {% set label = key|capitalize %}
                                                            {% endif %}
                                                            <span class="denominated">{{ label }} :</span> Ar {{ value|roundValue }}<br/>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="detail_foot"></div>
                    </div>
                </div>
                <hr>
            {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <div class="no_quota">
            No room quotation for this customer !<br/><br/>
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-md-12 add_quotation" onclick="location.href ='/editRoom'">
                        Add room quotation
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock body %}

{% block right_menu %}
<div id="right_side" class="col-xs-3 sidebar-outer">
    <div class="fixed">
    {% if(dataRoom|length > 0) %}
        <div id="accordion">
        {% for k in dataRoom|keys %}
            {% set registration = registration + 1%}
            {% set base_rooms = dataRoom[k]['room'] %}
            <h4 class="registration_title {% if registration == 1 %}registration_title_active{% endif %}" id="registration_title_{{ k }}">
                <a data-toggle="collapse" data-parent="#accordion" href="#existing_room_{{ k }}">Registration n°{{ k }}</a>
            </h4>
            <div id="existing_room_{{ k }}" class="panel-collapse collapse in">
                <table class="table" style="margin: 0;padding: 0">
                    {% for room in base_rooms %}
                    <tr>
                        <td>
                            <a class="base_type" href="#{{ (room.content[0]['label']|lower)|replace({' ' : '_'}) }}_{{ registration }}" >{{ room.content[0]['label'] }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    </div>
</div>
{% endblock right_menu %}