{% extends 'layout.twig' %}


{% block room_quota %}
    <!--Content LEFT-->
    <h1 class="page-header" id="reference">
        Quota room : {{ reference_quota }}
    </h1>

    {% if(base_rooms|length > 0) %}
        {% for base in base_rooms %}
            <p class="base_title" id="{{ base.type|replace({' ' : '_'}) }}">Based on {{ base.type }}</p>
            <div class="calculation_quota">

                <!--table for each quota-->
                <table class="flat-table">
                    <tbody>
                        <tr>
                            <th class="td_designation">DESIGNATION</th>
                            <th class="td_amount">ARIARY</th>
                            <th class="td_amount">EURO</th>
                            <th class="td_amount">USD</th>
                        </tr>
                        {% for content in base.content %}
                            <tr {% if(content[0] == 'Total / pax') %} class="tr_total" {% endif %}>
                                <td>
                                    <span {% if(content[0]in ['Vignette','Various taxes']) %}
                                            class="glyphicon glyphicon-usd"
                                        {% elseif(content[0]) in ['Breakfast','Dinner','Lunch'] %}
                                            class="glyphicon glyphicon-cutlery"
                                        {% elseif(content[0]) == 'Total / pax' %}
                                            class="glyphicon glyphicon-plus"
                                        {% else %}
                                            class="glyphicon glyphicon-bed"
                                        {% endif %}
                                    >
                                    </span>

                                    <span {% if(content[0] == 'Total / pax') %} class="designation_total" {% else %} class="designation_element" {% endif %}>
                                        {{ content[0] }}
                                    </span>
                                </td>
                                <td class="td_amount">{{ content[1] }}</td>
                                <td class="td_amount">{{ (content[1] / base.euro)|number_format(2, '.', ',') }}</td>
                                <td class="td_amount">{{ (content[1] / base.dollar)|number_format(2, '.', ',')}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="detail" id="detail_{{ base.type|replace({' ' : '_'}) }}">
                <div class="detail_head">Details<span class="glyphicon glyphicon-menu-down"></span></div>

                <div class="detail_body">
                    <div class="detail_hr"></div>
                    <div class="detail_body_elements">

                        <!--
                         detail here
                         *
                         **
                         ***
                         ****
                         -->
                    </div>
                </div>
            </div>

            <hr>
        {% endfor %}
    {% else %}
        <div class="no_quota">
            No quota for this customer !<br/><br/>
            <div class="add_room_button" data-popup-open="popup-1">Add quota</div>
        </div>
    {% endif %}
    <hr>
{% endblock room_quota %}

{% block menu_room %}
    <!-- Side Widget Well -->
    <div class="well">
        <h4>Existing room for this quota</h4>
        {% if(existing_base|length > 0) %}
            {% for base in existing_base %}
                <div class="base_types">
                    <a class="base_type" href="#{{ (base|lower)|replace({' ' : '_'}) }}" >{{ base }}</a>
                </div>
            {% endfor %}
        {% else %}
            <div class="no_base">
                No base for this quota !
            </div>
            <br/>
        {% endif %}
        <div class="add_room_button" data-popup-open="popup-1">Add hotel / room</div>
    </div>
{% endblock menu_room %}


{% block edit_room %}
    <!--Contact Form -->
    <div class="popup" data-popup="popup-1">
        <div class="popup-inner">
            <form>
                <div class="row col-md-12">
                    <div class="row col-md-2" id="choose_hotel_label">
                        Choose hotel
                    </div>
                    <div class="row col-md-10" id="choose_hotel_select">
                        <select class="selectpicker" id="select-hotel">
                            <option value="">Select</option>
                            <option value="un">Jade</option>
                            <option value="deux">Sapphire</option>
                            <option value="trois">Ruby</option>
                            <option value="quatre">Diamond</option>
                            <option value="cinq">Gold</option>
                        </select>
                    </div>

                </div>

                <div class="col-md-12 select_data">
                    <div class="row type_client">
                        <h3>ADULT</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="funkyradio funkyradio-default">
                                        <input type="checkbox" name="checkbox" id="single"/>
                                        <label for="single">Single</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <select class="selectpicker">
                                        <option disabled selected value="">Select</option>
                                        <option value="un">1</option>
                                        <option value="deux">2</option>
                                        <option value="trois">3</option>
                                        <option value="quatre">4</option>
                                        <option value="cinq">5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="funkyradio funkyradio-default">
                                        <input type="checkbox" name="checkbox" id="double"/>
                                        <label for="double">Double</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <select class="selectpicker">
                                        <option disabled selected value="" style="background-image:url('/images/double.png');">Select</option>
                                        <option value="un">1</option>
                                        <option value="deux">2</option>
                                        <option value="trois">3</option>
                                        <option value="quatre">4</option>
                                        <option value="cinq">5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="funkyradio funkyradio-default">
                                        <input type="checkbox" name="checkbox" id="triple"/>
                                        <label for="triple">Triple</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <select class="selectpicker">
                                        <option disabled selected value="" style="background-image:url('/images/triple.png');">Select</option>
                                        <option value="un">1</option>
                                        <option value="deux">2</option>
                                        <option value="trois">3</option>
                                        <option value="quatre">4</option>
                                        <option value="cinq">5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="funkyradio funkyradio-default">
                                        <input type="checkbox" name="checkbox" id="family"/>
                                        <label for="family">Family</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <select class="selectpicker">
                                        <option disabled selected value="" style="background-image:url('/images/family.png');">Select</option>
                                        <option value="un">1</option>
                                        <option value="deux">2</option>
                                        <option value="trois">3</option>
                                        <option value="quatre">4</option>
                                        <option value="cinq">5</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="funkyradio funkyradio-default">
                                        <input type="checkbox" name="checkbox" id="extra-bed"/>
                                        <label for="extra-bed">Extra bed</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <select class="selectpicker">
                                        <option disabled selected value="" style="background-image:url('/images/extra.png');">Select</option>
                                        <option value="un">1</option>
                                        <option value="deux">2</option>
                                        <option value="trois">3</option>
                                        <option value="quatre">4</option>
                                        <option value="cinq">5</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-push-1">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="funkyradio funkyradio-default">
                                        <input type="checkbox" name="checkbox" id="adult-breakfast"/>
                                        <label for="adult-breakfast">Breakfast</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <select class="selectpicker">
                                        <option disabled selected value="">Select</option>
                                        <option value="un">1</option>
                                        <option value="deux">2</option>
                                        <option value="trois">3</option>
                                        <option value="quatre">4</option>
                                        <option value="cinq">5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="funkyradio funkyradio-default">
                                        <input type="checkbox" name="checkbox" id="adult-lunch"/>
                                        <label for="adult-lunch">Lunch</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <select class="selectpicker">
                                        <option disabled selected value="">Select</option>
                                        <option value="un">1</option>
                                        <option value="deux">2</option>
                                        <option value="trois">3</option>
                                        <option value="quatre">4</option>
                                        <option value="cinq">5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="funkyradio funkyradio-default">
                                        <input type="checkbox" name="checkbox" id="adult-dinner"/>
                                        <label for="adult-dinner">Dinner</label>
                                    </div>
                                </div>
                                <div class="col-md-6" >
                                    <select class="selectpicker">
                                        <option disabled selected value="">Select</option>
                                        <option value="un">1</option>
                                        <option value="deux">2</option>
                                        <option value="trois">3</option>
                                        <option value="quatre">4</option>
                                        <option value="cinq">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row col-md-12">
                        <h3>CHILD</h3>
                    </div>
                    <div id="left-child" class="col-md-5">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="funkyradio funkyradio-default">
                                    <input type="checkbox" name="checkbox" id="extra-child"/>
                                    <label for="extra-child">Extra bed</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <select class="selectpicker">
                                    <option disabled selected value="" style="background-image:url('/images/extra.png');">Select</option>
                                    <option value="un">1</option>
                                    <option value="deux">2</option>
                                    <option value="trois">3</option>
                                    <option value="quatre">4</option>
                                    <option value="cinq">5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="right-child" class="col-md-5">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="funkyradio funkyradio-default">
                                    <input type="checkbox" name="checkbox" id="child-breakfast"/>
                                    <label for="child-breakfast">Breakfast</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <select class="selectpicker">
                                    <option disabled selected value="">Select</option>
                                    <option value="un">1</option>
                                    <option value="deux">2</option>
                                    <option value="trois">3</option>
                                    <option value="quatre">4</option>
                                    <option value="cinq">5</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="funkyradio funkyradio-default">
                                    <input type="checkbox" name="checkbox" id="child-lunch"/>
                                    <label for="child-lunch">Lunch</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <select class="selectpicker">
                                    <option disabled selected value="">Select</option>
                                    <option value="un">1</option>
                                    <option value="deux">2</option>
                                    <option value="trois">3</option>
                                    <option value="quatre">4</option>
                                    <option value="cinq">5</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <div class="funkyradio funkyradio-default">
                                    <input type="checkbox" name="checkbox" id="child-dinner"/>
                                    <label for="child-dinner">Dinner</label>
                                </div>
                            </div>
                            <div class="col-md-6" >
                                <select class="selectpicker">
                                    <option disabled selected value="">Select</option>
                                    <option value="un">1</option>
                                    <option value="deux">2</option>
                                    <option value="trois">3</option>
                                    <option value="quatre">4</option>
                                    <option value="cinq">5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="save_btn">Save</div>

                </div>
            </form>
            <a class="popup-close" data-popup-close="popup-1" href="#"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
    </div>
{% endblock edit_room %}
