{% extends 'layout.twig' %}


{% block body %}
    <!--Content LEFT-->
    <h1 class="title">
        Room quotation
    </h1>

    {% if(base_rooms|length > 0) %}
        {% for room in base_rooms %}
            <p class="base_title" id="{{ room.type|replace({' ' : '_'}) }}">Based on {{ room.type }}</p>
            <div class="calculation_quota">
                <!--table for each quota-->
                <table class="flat-table" id="table_{{ room.type|replace({' ' : '_'}) }}">
                    <tbody>
                        <tr>
                            <th class="td_designation">DESIGNATION</th>
                            <th class="td_amount">ARIARY</th>
                            <th class="td_amount">EURO<div class="exchange_euro hide">{{ room.exchange['euro'] }}</div></th>
                            <th class="td_amount">USD<div class="exchange_dollar hide">{{ room.exchange['dollar'] }}</div></th>
                        </tr>
                        {% for content in room.content %}
                            {% if(content[0] == 'Total / pax') %}
                                {% set tr_class = "tr_total" %}
                            {% elseif(content[0] == 'Family room') %}
                                {% set tr_class = "tr_room" %}
                            {% elseif(content[0] == 'Vignette') %}
                                {% set tr_class = "tr_vignette" %}
                            {% elseif(content[0] == 'Various taxes') %}
                                {% set tr_class = "tr_tax" %}
                            {% endif %}
                            <tr class="{{ tr_class }}">
                                {% if(content[0] in ['Vignette','Various taxes']) %}
                                    {% set glyphicon = "glyphicon glyphicon-usd" %}
                                {% elseif(content[0] in ['Breakfast','Dinner','Lunch']) %}
                                    {% set glyphicon = "glyphicon glyphicon-cutlery" %}
                                {% elseif(content[0] == 'Total / pax') %}
                                    {% set glyphicon = "glyphicon glyphicon-plus" %}
                                {% else %}
                                    {% set glyphicon = "glyphicon glyphicon-bed" %}
                                {% endif %}
                                <td>
                                    <span class="{{ glyphicon }}"></span>
                                    {% if(content[0] == 'Total / pax') %}
                                        <span class="designation_total">{{ content[0] }}</span>
                                        {% if(room.type == 'family room') %}
                                            <span style="white-space:pre"> : 1 person out of </span>
                                            <input type="number" min="1" max="20" name="family_member" id="family_member" style="width: 50px;" value="1"/>
                                        {% endif %}
                                    {% else %}
                                        <span class="designation_element">{{ content[0] }} </span>
                                    {% endif %}
                                </td>
                                <td class="td_amount">
                                    <span class="mga_value">{{ content[1] }}</span>
                                    {% if(room.type == 'family room') %}
                                        <span class="hide">{{ content[1] }}</span>
                                    {% endif %}
                                </td>
                                <td class="td_amount">{{ (content[1] / room.exchange['euro'])|number_format(2, '.', ',') }}</td>
                                <td class="td_amount">{{ (content[1] / room.exchange['dollar'])|number_format(2, '.', ',')}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="detail" id="detail_{{ room.type|replace({' ' : '_'}) }}">
                <div class="detail_head">Details<span class="glyphicon glyphicon-menu-down"></span></div>

                <div class="detail_body">
                    {% set time = 0 %}
                    {% for i in 0..details|length-1 %}
                        {% if(room.type|split(' ')[0]|lower == details[i]['base']|lower) %}
                            {% set time = time+1 %}
                            {% if(time > 1) %}
                                <hr>
                            {% endif %}
                            <div class="row">
                                <div class="col-xs-4">Hotel : </div>
                                <div class="col-xs-8">{{ time }}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">Room : </div>
                                <div class="col-xs-8">blabla</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">Wau rate : </div>
                                <div class="col-xs-8">Ar {{ details[i]['price_room'] }}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">Vignette : </div>
                                <div class="col-xs-8">Ar {{ details[i]['others'].vignet }}</div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">Tax : </div>
                                <div class="col-xs-8">Ar {{ details[i]['others'].tax }}</div>
                            </div>
                            {#<div class="row">#}
                                {#<div class="col-xs-4">Board : </div>#}
                                {#<div class="col-xs-8">{% for key,value in details[i]['others']->board %}#}
                                    {#<div class="row">#}
                                        {#{{ key }}->{{ value }}#}
                                    {#</div>#}
                                    {#{% endfor %}#}
                                {#</div>#}
                            {#</div>#}
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="detail_foot"></div>
            </div>

            <hr>
        {% endfor %}
    {% else %}
        <div class="no_quota">
            No quota for this customer !<br/><br/>
            <div class="add_room_button" data-popup-open="popup-1">Add quota</div>
        </div>
    {% endif %}
    <hr>
{% endblock body %}

{% if(base_rooms|length > 0) %}
    {% block menu_room %}
        <!-- Side Widget Well -->
        <div class="row well">
            <h4>Existing room for this quota</h4>
                {% for room in base_rooms %}
                    <div class="base_types">
                        <a class="base_type" href="#{{ (room.content[0][0]|lower)|replace({' ' : '_'}) }}" >{{ room.content[0][0] }}</a>
                    </div>
                {% endfor %}
            <div class="add_room_button" data-popup-open="popup-1">Add room</div>
        </div>

    {% endblock menu_room %}
{% endif %}
