{% extends 'layout.twig' %}

{% block body %}
    <form id="room_form">
        <div class="form-inline">
            <label for="select-hotel">Hotel </label>
            <select id="select-hotel" class="selectpicker" data-style="btn-default" data-width="200px" data-live-search="true" title="Select hotel">
                {% for house in listhouse %}
                    <option value={{ house['item_id'] }}> {{ house['house_title'] }} </option>
                {% endfor %}
            </select>

            <label for="number_stay">Number of stays</label>
            <input type="number" class="number" min="0" max="100" name="number_stay" id="number_stay" style="width: 90px;height: 35px"/>

            <label id="current_exchange" class="pull-right" for="select-hotel">$.{{ exchange['dollar']}}&nbsp;&nbsp;€.{{ exchange['euro'] }}</label>
        </div>

        <div id="accordion">
            {% if client.number_child < 1 %}
                {% set type = ['adult'] %}
            {% else %}
                {% set type = ['adult','child'] %}
            {% endif %}

            {% set base = ['single','double','triple','family','extra-bed'] %}
            {% set board = ['breakfast','lunch','dinner','menu','hb','fb'] %}

            {% for i in 0..type|length-1 %}
                <div class="room" id="accordion_head_{{ type[i] }}">
                    <span>{{ type[i]|capitalize }}</span>
                </div>
                <div class="row accordion_body" id="accordion_body_{{ type[i] }}">
                    <div class="col-xs-6">
                        {% if type[i] == 'child' %}
                            {% set n = 4 %}
                        {% else %}
                            {% set n = 0 %}
                        {% endif %}
                        {% for j in n..base|length-1 %}
                            <div class="row all_select" id="id_row_{{ type[i] }}_{{ base[j]|replace('-', '_') }}">
                                <div class="funkyradio form_funky col-xs-3">
                                    <div class="funkyradio-success form_success">
                                        <input type="checkbox" id="{{ type[i] }}_{{ base[j] }}" class="base_checkbox check_able" value="{{ base[j]|capitalize }}"/>
                                        <label class="funky_label form_label" for="{{ type[i] }}_{{ base[j] }}">{{ base[j]|capitalize }}</label>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <select title="" id="{{ type[i] }}_select_{{ base[j]|replace('-', '_') }}" class="selectpicker show-tick select_room" data-live-search="true" multiple></select>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div id="right" class="col-xs-6">
                        {% for j in 0..board|length-1 %}
                            {% set value = board[j]|capitalize %}

                            {% if board[j] in ['menu','hb','fb'] %}
                                {% set class_row = 'row_other_board' %}
                                {% if  board[j] != 'menu'%}
                                    {% set value = board[j]|upper %}
                                {% endif %}
                            {% else %}
                                {% set class_row = 'row_board' %}
                            {% endif %}
                            <div class="row all_select {{ class_row }}" id="id_row_{{ type[i] }}_{{ board[j]|replace('-', '_') }}">
                                <div class="funkyradio form_funky col-xs-3">
                                    <div class="funkyradio-success form_success">
                                        <input type="checkbox" id="{{ type[i]}}_{{ board[j] }}" class="board_checkbox check_able" value="{{ value }}"/>
                                        <label class="funky_label form_label" for="{{ type[i]}}_{{ board[j] }}">{{ value }}</label>
                                    </div>
                                </div>
                                <div class="col-xs-8">
                                    <select title="" id="{{ type[i] }}_select_{{ board[j] }}" class="selectpicker show-tick select_board" data-live-search="true" multiple></select>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="form-group row">
            <div class="col-xs-10">
                <span class="message" id="room_message"></span>
            </div>
            <div class="col-xs-2">
                <div class="all_btn">
                    <button type="submit" class="col-xs-12" style="margin: 0!important;padding: 0!important"><span class="col-xs-12" id="btn_save_room">Save</span></button>
                </div>
            </div>
        </div>
    </form>
{% endblock body %}